<div class="container mt-4">
  <h1 class="text-center mb-4">你想對誰說幹話</h1>
  <form action="/generate" method="POST" class="text-center" style="font-size: 1.3em;">
    <div class="card-deck">
      <div class="card border-0">
        <img class="card-img-top" style="height: 70%"
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg" alt="">
        <div class="card-body align-middle">
          <input class="mr-1" type="radio" name="job" id="engineer" value="engineer" checked>
          <label for="engineer">工程師</label>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top"  style="height: 70%"
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg" alt="">
        <div class="card-body align-middle">
          <input class="mr-1" type="radio" name="job" id="designer" value="designer" {{#if (eq
            job 'designer' )}} checked {{/if}}>
          <label for="designer">設計師</label>
        </div>
      </div>
      <div class="card border-0">
        <img class="card-img-top"  style="height: 70%"
          src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg" alt="">
        <div class="card-body align-middle">
          <input class="mr-1" type="radio" name="job" id="entrepreneur" value="entrepreneur" {{#if (eq
            job 'entrepreneur' )}} checked {{/if}}>
          <label for="entrepreneur">創業家</label>
        </div>
      </div>
    </div>

    <div class="row mb-2">
      <div class="col-2 mr-auto">
        <button class="btn btn-info" type="submit">產生幹話</button>
      </div>
      <div class="col-10">
        <textarea class="col-auto" style="max-width: 100%; font-size: 2em;" name="word" id="word" cols="130"
          rows="5">{{ garbageWord }}</textarea>
      </div>
    </div>
  </form>
</div>